
<form class="new-choice" action="/survey/question/choice" method="post">
  Choice 1: <input type="text" name="text1" placeholder="Dumb and Dumber" required ><br>
  Choice 2: <input type="text" name="text2" placeholder="Caddyshack" required><br>
  Choice 3: <input type="text" name="text3" placeholder="White Girls"><br>
  Choice 4: <input type="text" name="text4" placeholder="Old School"><br>
  Choice 5: <input type="text" name="text5" placeholder="The Hangover"><br>
  <input type="submit" value="create survey">

</form>