<div>
  <ul>
    <li><a href="/">Home</a></li>

    <% if current_user %>
      <li><a href="/survey/new">Create New Survey</a></li>
      <li>Hello <%= @user.username %></li>
      <li><a href="/logout">logout</a></li>
      <% else %>
      <li><a href="/login">login</a></li>
      <% end %>
  </ul>

</div>