<form class="new-question" action="/survey/question" method="post">
  Question: <input type="text" name="text" placeholder="Which is your favorite comedy movie?" required>
  <input type="hidden" value="<%= @survey.id %>" name="survey_id">
  <input type="submit" value="create question" class="submit-new-question">

</form>