<h1>NATL Survey</h1>



<% if current_user && @surveys.count > 0 %>
  <ul>
    <% @surveys.each do |survey| %>
    <li><a href="/survey/<%= survey.id %>"><%= survey.title %></a> by <%= survey.user.username %></li>
    <% end %>
  </ul>

<% end %>