<form class="new_survey" action="/survey" method="post">
  Survey Title: <input type="text" name="title" placeholder="Which is your favorite movie?">
  <input type="submit" value="create survey">

</form>