<form class="new_survey" action="/survey" method="post">
  Survey Title: <input type="text" name="title" placeholder="Favorite Movies!" required>
  <input type="submit" value="create survey">

</form>