<button id="add_new_question">Add New Question</button>

<form class="new_survey" action="/survey" method="post">
  Survey Title: <input type="text" name="title" placeholder="Favorite Movies!" required><br>



  <div id="questions_go_here">

  </div>
<input type="submit" value="create survey">


</form>
