<div class="survey-form">
  <form class="survey-title" action="/survey" method="post">
    Survey Title: <input type="text" name="title" placeholder="Favorite Movies!" required>
    <input type="submit" value="create survey">
  </form>
  <br><br>

  <div class="question-display"></div>

  <div class="choices-display"></div>

</div>