body {
  max-width: 960px;
  margin: 0 auto;
}
p {
  margin: 0px;

}
.container {
  margin: 0 auto;
  width: 98.5%;
  padding: 10px;
  border: 1px dotted black;
  background-color: #F3EDD6;
}


.header a{
  text-decoration: none;

}
.header ul {
  list-style: none;
}
.header ul li {
  display: inline;
  border-left: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}

.header ul li:first-child{
  border: none;
}

#logo {
  font-size: 2em;
  font-weight: bold;
}



.graph-bar{
  height: 20px;
  background-color: blue;
}

.graph-question p{
  margin-bottom: 10px;

}
#add_new_question {
  float: right;
  /*
  position: relative;
  left: 500px;*/
}

.survey-image {
  max-width: 400px;
  max-height: 400px;
}

.question-title {
  font-weight: bold;
  font-size: 1.2em;
}

.survey-title-display {
  font-size: 1.6em;
  font-weight: bold;
}

.choice-text {
  font-weight: bold;
}