body {
  max-width: 960px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 98.5%;
  padding: 10px;
  border: 1px dotted black;
  background-color: #F3EDD6;
}

.header a{
  text-decoration: none;

}
.header ul {
  list-style: none;
}
.header ul li {
  display: inline;
  border-left: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}

.header ul li:first-child{
  border: none;
}

#logo {
  font-size: 2em;
  font-weight: bold;
}