<h2>Login</h2>
<form action="/login" method="post" name="login" id="login">
  Username: <input type="text" name="username" required><br>
  Password: <input type="password" name="password"required><br>
  <input type="submit" value="login">

</form>

<h2>Create Account</h2>
<form action="/register" method="post" name="register" id="register">
  Username: <input type="text" name="username" required><br>
  Password (min 6 characters): <input type="password" name="password" required><br>
  <input type="submit" value="create account">

</form>